.sort-dropdown-container {
  margin-left: var(--space-sm);
}

.sort-dropdown-toggle-btn {
  border-radius: 999px;
}

.sort-dropdown-btn {
  padding: var(--space-md) var(--space-md) var(--space-md) var(--space-xl);
  text-align: left;
}

.sort-dropdown-radio {
  font-size: var(--text-md);
}
