.program-modal {
  max-height: min(640px, calc(100dvh - var(--space-xl)));
}

.program-modal-selected-sessions {
  max-height: 320px;
  min-height: 40px;
  overflow-y: auto;
}

.program-modal-selected-session {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding-block: var(--space-sm);

  &>:last-child {
    margin-left: auto;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-white-10);
  }

  &:hover,
  &:focus-visible {
    .add-break-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}

.add-break-btn {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;

  &:hover,
  &:focus-visible {
    opacity: 1;
    visibility: visible;
  }
}

.program-modal-selected-session-break {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  font-size: var(--text-md);
}

.program-modal-available-sessions {
  max-height: 240px;
  overflow-y: auto;
}

.program-modal-available-session {
  padding: var(--space-md) var(--space-md) 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-white-10);
    padding-bottom: var(--space-md);
  }
}

.program-modal-available-session-header {
  display: flex;
  justify-content: space-between;
}

.program-modal-available-session-title {
  font-size: var(--text-lg);
}
