.session {
  width: 100%;
  height: 100%;
}

.session-bar-progress-container {
  z-index: 3;
  position: absolute;
  top: var(--space-xs);
  left: var(--space-sm);
  right: var(--space-sm);
  flex-shrink: 0;
}

.session-bar-progress-bar {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform-origin: top left;
  transition: 0.1s scale;
}

.session-grace {
  z-index: 1;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  height: 100%;
  background-color: light-dark(var(--color-white), var(--color-grey-50));

  .btn.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.session-grace-value {
  font-size: var(--text-3xl);
}

.session-paused {
  z-index: 1;
  position: absolute;
  inset: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: light-dark(var(--color-white-60), var(--color-grey-90-50));
  backdrop-filter: blur(16px) grayscale(100%);
}

.session-paused-title {
  font-size: var(--text-4xl);
  text-align: center;
}

.session-paused-buttons {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}
