.images-view-mask {
  z-index: 1;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-60);

  .icon-btn {
    --color: var(--color-white-60);

    &:hover, &:focus-visible {
      --color: var(--color-white);
      --background-color: var(--color-white-10);
    }
  }
}

.images-view-btns {
  position: absolute;
  top: var(--space-xl);
  right: var(--space-xl);
  display: flex;
  gap: var(--space-md);
}

.end-session-expanded-image-container {
  --x: 50%;
  --y: 50%;

  z-index: -1;
  position: absolute;
  left: var(--x);
  top: var(--y);
  translate: -50% -50%;
}

.end-session-expanded-image {
  --scale: 1;
  --origin-x: 50%;
  --origin-y: 50%;

  user-select: none;
  transform-origin: 50% 50%;
  scale: var(--scale);
  width: auto;
  max-width: none;
}

.end-session-image-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.session-close-btn {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}
