.dropdown-btn-container {
  position: relative;
  display: flex;
  align-items: center;

  &:hover .icon-btn {
    opacity: 1;
  }

  .text-btn {
    flex-grow: 1;
  }

  .icon-btn {
    position: absolute;
    right: var(--space-xs);
    opacity: 0;
    transition: opacity 0.2s;

    &:focus-visible {
      opacity: 1;
    }
  }
}

.bottom-bar-dropdown {
  flex-direction: row;
  flex-wrap: nowrap;
  right: auto;
  left: var(--space-xs);
}

.dropdown-column {
  display: flex;
  flex-direction: column;
}

.dropdown-bottom {
  margin-top: auto;
  border-top: 1px solid light-dark(var(--color-black-4), var(--color-white-10));
}
