.session-form-modal {
  border: none;
  box-shadow: var(--highligh-shadow);
  corner-shape: squircle;
  border-radius: 16px;
  background-color: light-dark(var(--color-white-90-100), var(--color-grey-40));
  color: inherit;
}

.session-form-title {
  font-weight: bold;
  font-size: var(--text-lg);
  text-align: center;
}

.session-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: var(--space-md);
}

.session-form-bottom {
  display: flex;
  justify-content: end;
  gap: var(--space-md);
}
