.viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;

  .icon-btn {
    --color: light-dark(var(--color-black-30), var(--color-white-60));

    &:hover, &:focus-visible {
      --color: light-dark(var(--color-black-60), var(--color-white));
      --background-color: light-dark(var(--color-black-4), var(--color-white-10));
    }
  }

  &.overlay {
    z-index: 2;
    position: fixed;
    inset: 0;
    background-color: var(--color-black-60);

    .icon-btn {
      --color: var(--color-white-60);

      &:hover, &:focus-visible {
        --color: var(--color-white);
        --background-color: var(--color-white-10);
      }
    }

    .viewer-bar-item-info {
      color: light-dark(var(--color-white-90), var(--color-white-90));
    }

    .viewer-bar {
      background-color: var(--color-black-8);
    }
  }
}

.viewer-bar {
  position: absolute;
  right: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--space-md);
  max-width: calc(100% - 2 * var(--space-md));
  padding: var(--space-sm);
  border: 1px solid var(--color-white-4);
  border-radius: 16px;
  background-color: var(--color-black-4);
  box-shadow: var(--fg-shadow);
  backdrop-filter: blur(8px);
  corner-shape: squircle;
}

.viewer-top-bar {
  top: var(--space-md);
}

.viewer-bottom-bar {
  bottom: var(--space-md);
  padding-left: var(--space-xl);
}

.viewer-bar-item-info {
  margin-right: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  white-space: nowrap;
  text-shadow:
    0 1px 1px var(--color-black-16),
    0 2px 2px var(--color-black-8);

  &.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.viewer-image-container {
  --x: 50%;
  --y: 50%;

  z-index: -1;
  position: absolute;
  left: var(--x);
  top: var(--y);
  translate: -50% -50%;
}

.viewer-image {
  --dir: 1;
  --scale: 1;
  --origin-x: 50%;
  --origin-y: 50%;

  user-select: none;
  transform-origin: 50% 50%;
  scale: calc(var(--dir) * var(--scale)) var(--scale);
  width: auto;
  max-width: none;
}
